/*background color: #E5E5E5
button orde-service: #188CE8; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color button filter: #2196F3;
color inactive button filter: #F5F4FA;
color hero:#2F303A;
first fonts color: #212121;
second fonts color: #757575;
*/
:root {
  --text-color: #ffffff;
  --inactive-button-color: #f5f4fa;
  --hero-color: #2f303a;
  --first-fonts-color: #212121;
  --second-fonts-color: #757575;
  --active-element-color: #2196f3;
}
/*Body*/

body {
  margin: 0;
  padding: 0;
  background-color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
/*---------------Section header-------------*/

/*Logo*/

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.color-web {
  color: var(--active-element-color);
}

/*Navigation*/

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*Contacts*/

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-fonts-color);
}

/*---------------Section main-------------*/

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  background-color: var(--hero-color);
  color: var(--text-color);
}

.link {
}

.order-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  background-color: var(--active-element-color);
  color: var(--text-color);
}
